* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards {
    position: relative;
    height: 300px;
}

.img-card {
    display: inline-block;
    position: absolute;
}
.img-card img {
    width: 200px;
    height: 300px;
    background-color: rebeccapurple;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    border: 2px lightgray solid;
}
.img-card:nth-child(2) {
    left: 150px;
}
.img-card:nth-child(3) {
    left: 300px ;
}

.sidetext {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-top: -10px; 
    position: absolute;
    text-align: center; 
    top: 50%; 
    
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: cyan;
    text-align: center;
    line-height: 200px;
    position: relative;
}